{% extends 'base.html' %}

{% block content %}

    <div class="roq">
        <div class="col-sm-6 col-sm-offset-3">
            <h1>About Us</h1>
            <p>
                There's no need to repeat yourself if you don't need to repeat yourself. There's no need to repeat
                yourself if you don't need to repeat yourself. There's no need to repeat yourself if you don't need
                to repeat yourself. There's no need to repeat yourself if you don't need to repeat yourself. There's
                no need to repeat yourself if you don't need to repeat yourself.
            </p>
        </div>
    </div>

{% endblock %}