{% extends 'base.html' %}
{%  load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %}Welcome |{% endblock %}


{% block jumbotron %}
{% if not request.user.is_staff%}
    <div class="jumbotron">
        <div class="row">
            <div class="col-xs-6 col-sm-6">
                <!-- Main component for a primary marketing message or call to action -->

                    <h1>Django Newsletter</h1>
                    <p>A bit of practise building Django apps!</p>
                    <p>
                    <a class="btn btn-lg btn-primary" href="" role="button">Join us</a>
                    </p>

            </div>
            <div class="cl-xs-6 col-sm-6">
                <img class="img-responsive" width="560" height="315" src=" {% static 'img/django-logo.png' %}" frameborder="0" allowfullscreen>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}

{% block content %}
{% if request.user.is_authenticated and request.user.is_staff%}
    <h1>You are logged in</h1>
    <h2>Welcome staff</h2>
    <br/>
    <h3>Signups:</h3>

<div class="table-responsive">
            <table class="table table-bordered table-hover">
            <tr style="font-weight: bold">
                <td>#</td>
                <td>Name</td>
                <td>Email</td>
                <td>Time Since Signup</td>
            </tr>
                {% for instance in queryset %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'profile' instance.id %}">{{ instance.full_name }}</a></td>
                    <td>{{ instance.email }}</td>
                    <td>{{ instance.timestamp|timesince }}</td>
                </tr>
                {% endfor %}
            </table>
</div>

    {% else %}
    <div class="row">
        <div class="col-sm-3 col-xs-2 pull-right">
            <p class="lead text-align-center">Welcome</p>
            <form method="POST" action="">{% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-default" type="submit" value="Sign Up"/>
            </form>
        </div>
        <div class="lead text-align-center col-sm-3 col-xs-4">
            <p>Built with Django &amp; Bootstrap</p>
        </div>
        <div class="lead text-align-center col-sm-3 col-xs-4">
            <p>Created for Starters of all kinds</p>
        </div>
        <div class="lead text-align-center col-sm-3 col-xs-2">
            <p>Always open source</p>
        </div>
    </div>

{% endif %}
{% endblock %}
